<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alex.tw.posdemo">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".PosApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CartItemActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SetActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ReceiptActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".DatacheckActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>